build

.vs

# add it later through GLF
ext/bin/Release/PhysXGpu_64.dll
ext/bin/Debug/PhysXGpu_64.dll

# add it later through GLF
ext/CUDA/lib/x64/nvJitLink_static.lib
ext/CUDA/lib/x64/nvrtc_static.lib
ext/CUDA/lib/x64/nvptxcompiler_static.lib